.carousel {
  width: 100vw;
  /* background: #ddd; */
  padding: 20px 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.carousel, .carousel * {
  box-sizing: border-box;
}

.carousel__items {
  margin: 0;
  padding: 0;
  width: 900px;
  display: flex;
  padding-bottom: 50px;
}

.carousel__item {
  list-style: none;
  width: 70vw;
  height: 300px;
  border-radius: 5px;
  margin: 0 0 0 10vw;
  transition: all 0.6s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 10px 20px 20px rgba(0,0,0,0.7);
  color: #555;
  font-size: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 23px rgba(0,0,0,0.4);
  overflow: hidden;
}

.carousel__item__image {
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-color: #9b31ef33;
  flex: 1;
}

.carousel__item__text {
  text-align: center;
  padding: 20px 0;
}

@media screen and (min-width: 800px) {
  .carousel__item {
    padding-bottom: 20px;
  }
}
