@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to top, #da22ff, #9733ee);
}

.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.app-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 10px 30px;
  height: 60px;
}

.app-nav > a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  line-height: 2;
}

.app-title {
  font-size: 54px;
  padding-left: 10vw;
  font-family: 'Lato', sans-serif;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 20px;
}
